.cover {
  display: flex;
  flex-direction: column;
  min-block-size: 100svh;
}

.cover > :is(h1, main, [class*="hero"], .wrapper:has(> [class*="hero"])) {
  margin-block: auto;
}

.cover > .content-arrow:last-child {
  margin-bottom: var(--space-large);
}