@keyframes slide-in {
  0% {
    transform: translateX(-100vw);
  }
  25% {
    transform: translateX(0)
  }
  50% {
    opacity: 0;
    scale: 1.05;
  }
  75% {
    opacity: 1;
    scale: 1;
  }
}
[data-animation="slide-in"] {
  animation: slide-in 2.35s both ease-in-out;
}

@keyframes pop-out {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}
[data-animation="pop-out"] {
  animation: pop-out 1s both cubic-bezier(.47,1.64,.41,.8);
  animation-delay: 2s;
}

@keyframes bounce {
  0% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}
[data-animation="bounce"] {
  animation: bounce 1.45s infinite alternate;
}

@keyframes shake {
  0% {
    transform: translateX(10px);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
[data-animation="shake"] {
  animation: shake 545ms both ease-in-out;
}


@media (prefers-reduced-motion) {
  [data-animation="slide-in"],
  [data-animation="pop-out"],
  [data-animation="bounce"],
  [data-animation="shake"] {
    animation: none !important;
  }
}