.error {
  text-align: center;
  position: relative;
  overflow: hidden;
}

.error p {
  margin-inline: auto;
}

.error .button {
  --flow-space: var(--space-medium);
}

.error::before {
  content: '404';
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
  font-size: var(--heading-size-mega);
  font-family: var(--font-mono-secondary);
  line-height: 1;
  transform: translate(0.08ch, 0.05lh);
  filter: blur(5px) brightness(0.2);
  z-index: -1;
}