.global-landmark {
  --region-space: var(--space-medium);
  color: hsl(var(--global-landmark-color));
  background-color: hsl(var(--global-landmark-background));
}

.global-landmark .nav {
  margin-block: 0;
}

footer .global-landmark .nav {
  --nav-gap: var(--space-extra-small);
}