.hero {
  display: grid;
  gap: var(--space-medium);
}

@container (min-width: 45rem) { 
  .hero {
    grid-template-columns: 2fr repeat(2, 1fr);
    grid-template-rows: var(--image-gutter) 1fr auto var(--image-gutter);
  }

  .hero__text {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .hero__image {
    grid-column: 2 / 4;
    grid-row: 1 / -1;
  }

  .hero__button {
    grid-row: 3 / 4;
  }

  .hero > *:not(.hero__image) {
    z-index: 1;
  }
}

@container (min-width: 65rem) {
  .hero {
    grid-template-columns: 2fr repeat(2, 1fr) .25fr .75fr;
    grid-template-rows: var(--image-gutter) 1fr var(--image-gutter);
  }

  .hero__image {
    grid-column: 2 / 5;
  }

  .hero__button {
    grid-column: 4 / 6;
    grid-row: 2 / 3;
    align-self: center;
  }
}

/* support for browsers that don't have @container */
@supports not (container-type: inline-size) {
  @media (min-width: 720px) { 
    .hero {
      grid-template-columns: 2fr repeat(2, 1fr);
      grid-template-rows: var(--image-gutter) 1fr auto var(--image-gutter);
    }

    .hero > *:not(.hero__image) {
      z-index: 1;
    }

    .hero__text {
      grid-row: 2 / 3;
      grid-column: 1 / 3;
    }

    .hero__image {
      grid-column: 2 / 4;
      grid-row: 1 / -1;
    }

    .hero__button {
      grid-row: 3 / 4;
    }
  }

  @media (min-width: 1040px) {
    .hero {
      grid-template-columns: 2fr repeat(2, 1fr) .25fr .75fr;
      grid-template-rows: var(--image-gutter) 1fr var(--image-gutter);
    }

    .hero__image {
      grid-column: 2 / 5;
    }

    .hero__button {
      grid-column: 4 / 6;
      grid-row: 2 / 3;
      align-self: center;
      animation-delay: 2s;
    }
  }
}