a:not(.button)[data-varient="svg"] svg path {
  stroke: hsl(var(--color-svg));
}

a:not(.button)[data-varient="svg"] {
  display: inline-block;
}

a:not(.button)[data-varient="svg"]:hover {
  scale: 1.2;
  transition: scale .3s ease-in-out;
}