.terminal {
  font-family: var(--font-mono-base);
  border-radius: var(--container-radius);
  background-color: hsl(var(--container-background));
}

.terminal :is(h3, h4) {
  font-family: var(--font-mono-secondary);
}
.terminal :is(h3, h4)::before {
  content: ">_";
  margin-inline-end: 1ch;
}

.terminal header {
  --stroke-color: hsl(var(--color-neutral-dark-glare));
  padding: var(--container-padding);
  border-bottom: var(--stroke-base) var(--stroke-color);
}

.terminal .button {
  --svg-stroke-color: var(--color-secondary-base);
  --svg-fill-color: var(--color-secondary-base);
}

.terminal .terminal__content {
  padding: var(--container-padding);
}

.terminal__spotlight {
  display: flex;
  flex-direction: column;
}

.terminal .media-container {
  width: 100%;
  flex: 1;
}