/* Raleway */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+0021-007E;
  src: 
    url(../../assets/fonts/raleway/regular.woff2) format('woff2'),
    url(../../assets/fonts/raleway/regular.woff) format('woff'),
    url(../../assets/fonts/raleway/regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+0021-007E;
  src: 
    url(../../assets/fonts/raleway/italic.woff2) format('woff2'),
    url(../../assets/fonts/raleway/italic.woff) format('woff'),
    url(../../assets/fonts/raleway/italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  unicode-range: U+0021-007E;
  src: 
    url(../../assets/fonts/raleway/semibold.woff2) format('woff2'),
    url(../../assets/fonts/raleway/semibold.woff) format('woff'),
    url(../../assets/fonts/raleway/semibold.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  unicode-range: U+0021-007E;
  src: 
    url(../../assets/fonts/raleway/bold.woff2) format('woff2'),
    url(../../assets/fonts/raleway/bold.woff) format('woff'),
    url(../../assets/fonts/raleway/bold.ttf) format('truetype');
}

/* pixeloid-sans */
@font-face {
  font-family: 'Pixeloid-sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+0021-007E;
  src: 
    url(../../assets/fonts/pixeloid-sans/regular.woff2) format('woff2'),
    url(../../assets/fonts/pixeloid-sans/regular.woff) format('woff'),
    url(../../assets/fonts/pixeloid-sans/regular.ttf) format('truetype');
}