:root {
  --color-primary-base: 3, 100%, 71%;
  --color-secondary-base: 120, 60%, 67%;
  --color-neutral-shade: 0, 0%, 0%;
  --color-neutral-dark: 0, 0%, 6%;
  --color-neutral-dark-tint: 0, 0%, 8%;
  --color-neutral-dark-glare: 0, 0%, 13%;
  --color-neutral-base-dimmed: 0, 0%, 25%;
  --color-neutral-base: 0, 0%, 66%;
  --color-neutral-glare: 0, 0%, 100%;
  --color-disabled: var(--color-neutral-base);
  --color-svg: var(--color-neutral-glare);

  --font-base: 'Raleway', sans-serif, system-ui;
  --font-mono-base: monospace, system-ui;
  --font-mono-secondary: 'Pixeloid-sans', monospace, system-ui;
  --style-italic: italic;
  --weight-base: 400;
  --weight-semibold: 500;
  --weight-bold: 700;
  --leading-flat: 1;
  --leading-medium: 1.4;
  --leading-large: 1.65;
  --leading-loose: 2.45;
  --measure-short: 8ch;
  --measure-compact: 68ch;
  --text-miniscule: clamp(0.75rem, .7081rem + .2094vi, 0.875rem);
  --text-extra-small: clamp(1rem, .9091rem + .4545vi, 1.25rem);
  --text-base: clamp(1.125rem, 1.0494rem + .3782vi, 1.333rem);
  --text-small: clamp(1.125rem, 0.9886rem + 0.6818vi, 1.5rem);
  --text-medium: clamp(1.35rem, 1.1591rem + 0.9545vi, 1.875rem);
  --text-large: clamp(1.944rem, 1.5856rem + 1.7922vi, 2.9297rem);
  --text-extra-large: clamp(2.3328rem, 1.8494rem + 2.4169vi, 3.6621rem);
  --text-mega: clamp(15rem, 25.1309vw + 9.9738rem, 30rem);

  --gutter: clamp(1.25rem, 0.9987rem + 1.2565vi, 2rem);
  --space-miniscule: clamp(0.5rem, 0.3325rem + 0.8377vi, 1rem);
  --space-extra-small: clamp(0.85rem, 0.716rem + 0.6702vi, 1.25rem);
  --space-small: clamp(1rem, 0.7727rem + 1.1364vi, 1.625rem);
  --space-medium: clamp(1.5rem, 1.1591rem + 1.7045vi, 2.4375rem);
  --space-large: clamp(2rem, 1.5455rem + 2.2727vi, 3.25rem);
  --space-extra-large: clamp(3rem, 2.3182rem + 3.4091vi, 4.875rem);
  --space-mega: clamp(6rem, 4.6364rem + 6.8182vi, 9.75rem);

  --focus-ring-width: 1px;
  --focus-ring-style: solid;
  --focus-ring-offset: 8px;
  --focus-ring-color: var(--color-primary-base);
  --scrollbar-thumb-color: var(--color-primary-base);
  --scrollbar-track-color: transparent;
  --scrollbar-width: thin;
  --stroke-fine: var(--stroke-width-fine, 1px) var(--stroke-style-fine, solid);
  --stroke-base: var(--stroke-width-base, 3px) var(--stroke-style-base, solid);
  --stroke-thick: var(--stroke-width-thick, 6px) var(--stroke-style-thick, solid);
  --radius-small: 0.25em;
  --radius-base: 0.5em;
  --link-underline-color: var(--color-primary-base);
  --link-underline-thickness: 2px;
  --button-padding-vertical: 0.75em;
  --button-padding-horizontal: 1.25em;
  --button-stroke: var(--stroke-base);
  --button-radius: var(--radius-small);
  --button-font-weight: var(--weight-semibold);
  --button-color: var(--color-neutral-shade);
  --button-background: var(--color-primary-base);
  --input-padding: 0.25em;
  --input-radius: var(--radius-small);
  --input-stroke: var(--stroke-base) hsl(var(--color-neutral-glare));
  --input-stroke-hover: var(--stroke-base) hsl(var(--color-neutral-glare));
  --input-color: var(--color-neutral-glare);
  --input-background: var(--color-neutral-dark-glare);
  --pre-tab-size: 2ch;
  --global-font: var(--font-base);
  --global-font-size: var(--text-base);
  --global-color: var(--color-neutral-base);
  --global-background: var(--color-neutral-dark);
  --global-landmark-color: var(--color-neutral-glare);
  --global-landmark-background: var(--color-neutral-dark-glare);
  --heading-size-4: var(--text-small);
  --heading-size-3: var(--text-medium);
  --heading-size-2: var(--text-large);
  --heading-size-1: var(--text-extra-large);
  --heading-size-mega: var(--text-mega);
  --heading-font: var(--global-font);
  --heading-color: var(--color-neutral-glare);
  
  --image-gutter: 25px;
  --container-padding: 1.45em; 
  --container-radius: var(--radius-base);
  --container-background: var(--color-neutral-dark-tint);
  --pill-padding-horizontal: 1.25em;
  --pill-padding-vertical: 0.25em;
  --pill-stroke: var(--stroke-base);
  --pill-radius: var(--radius-small);
  --pill-font-weight: var(--weight-semibold);
  --pill-color: var(--color-neutral-glare);

  --icon-extra-small: clamp(.775em, 0.0437rem + 0.0236vi, 1em);
  --icon-small: clamp(1.55em, 1.4773rem + .3636vi, 1.75em);
  --icon-medium: clamp(2.5em, 0.1405rem + 0.0785vi, 3.25em);
  --icon-large: clamp(3.75em, 3.2474rem + 2.5131vi, 5.25em);
}