.logo {
  display: inline-block;
  font-size: var(--text-small);
  font-weight: var(--weight-semibold);
  text-decoration: none;
  color: hsl(var(--color-neutral-glare));
  transition: scale .3s ease-in-out;
}

.logo span {
  color: hsl(var(--color-primary-base));
}

.logo:hover {
  scale: 1.05;
}