/* Colours */
.color-primary-base {
  color: hsl(var(--color-primary-base));
}

.color-secondary-base {
  color: hsl(var(--color-secondary-base));
}

.color-neutral-shade {
  color: hsl(var(--color-neutral-shade));
}
.color-neutral-dark {
  color: hsl(var(--color-neutral-dark));
}
.color-neutral-dark-tint {
  color: hsl(var(--color-neutral-dark-tint));
}
.color-neutral-dark-glare {
  color: hsl(var(--color-neutral-dark-glare));
}
.color-neutral-base-dimmed {
  color: hsl(var(--color-neutral-base-dimmed));
}
.color-neutral-base {
  color: hsl(var(--color-neutral-base));
}
.color-neutral-glare {
  color: hsl(var(--color-neutral-glare));
}

/* Background Colours */
.bg-primary-base {
  background-color: hsl(var(--color-primary-base));
}

.bg-secondary-base {
  background-color: hsl(var(--color-secondary-base));
}

.bg-neutral-shade {
  background-color: hsl(var(--color-neutral-shade));
}
.bg-neutral-dark {
  background-color: hsl(var(--color-neutral-dark));
}
.bg-neutral-dark-tint {
  background-color: hsl(var(--color-neutral-dark-tint));
}
.bg-neutral-dark-glare {
  background-color: hsl(var(--color-neutral-dark-glare));
}
.bg-neutral-base-dimmed {
  background-color: hsl(var(--color-neutral-base-dimmed));
}
.bg-neutral-base {
  background-color: hsl(var(--color-neutral-base));
}
.bg-neutral-glare {
  background-color: hsl(var(--color-neutral-glare));
}

/* Text */
.font-base {
  font-family: var(--font-base);
}
.font-mono-base {
  font-family: var(--font-mono-base);
}
.font-mono-secondary {
  font-family: var(--font-mono-secondary);
}

.style-italic {
  font-style: var(--style-italic);
}

.weight-base {
  font-weight: var(--weight-base);
}
.weight-semibold {
  font-weight: var(--weight-semibold);
}
.weight-bold {
  font-weight: var(--weight-bold);
}

.leading-flat {
  line-height: var(--leading-flat) !important;
}
.leading-medium {
  line-height: var(--leading-medium);
}
.leading-large {
  line-height: var(--leading-large);
}
.leading-loose {
  line-height: var(--leading-loose);
}

.text-miniscule {
  font-size: var(--text-miniscule);
}
.text-extra-small {
  font-size: var(--text-extra-small);
}
.text-base {
  font-size: var(--text-base);
}
.text-small {
  font-size: var(--text-small);
}
.text-medium {
  font-size: var(--text-medium);
}
.text-large {
  font-size: var(--text-large);
}
.text-extra-large {
  font-size: var(--text-extra-large);
}
.text-mega {
  font-size: var(--text-mega);
}

/* Margin */
.m-top-miniscule {
  margin-top: var(--space-miniscule);
}
.m-top-extra-small {
  margin-top: var(--space-extra-small);
}
.m-top-small {
  margin-top: var(--space-small);
}
.m-top-medium {
  margin-top: var(--space-medium);
}
.m-top-large {
  margin-top: var(--space-large);
}
.m-top-extra-large {
  margin-top: var(--space-extra-large);
}
.m-top-mega {
  margin-top: var(--space-mega);
}

.m-right-miniscule {
  margin-right: var(--space-miniscule);
}
.m-right-extra-small {
  margin-right: var(--space-extra-small);
}
.m-right-small {
  margin-right: var(--space-small);
}
.m-right-medium {
  margin-right: var(--space-medium);
}
.m-right-large {
  margin-right: var(--space-large);
}
.m-right-extra-large {
  margin-right: var(--space-extra-large);
}
.m-right-mega {
  margin-right: var(--space-mega);
}

.m-bottom-miniscule {
  margin-bottom: var(--space-miniscule);
}
.m-bottom-extra-small {
  margin-bottom: var(--space-extra-small);
}
.m-bottom-small {
  margin-bottom: var(--space-small);
}
.m-bottom-medium {
  margin-bottom: var(--space-medium);
}
.m-bottom-large {
  margin-bottom: var(--space-large);
}
.m-bottom-extra-large {
  margin-bottom: var(--space-extra-large);
}
.m-bottom-mega {
  margin-bottom: var(--space-mega);
}

.m-left-miniscule {
  margin-left: var(--space-miniscule);
}
.m-left-extra-small {
  margin-left: var(--space-extra-small);
}
.m-left-small {
  margin-left: var(--space-small);
}
.m-left-medium {
  margin-left: var(--space-medium);
}
.m-left-large {
  margin-left: var(--space-large);
}
.m-left-extra-large {
  margin-left: var(--space-extra-large);
}
.m-left-mega {
  margin-left: var(--space-mega);
}

/* Padding */
.p-top-miniscule {
  padding-top: var(--space-miniscule);
}
.p-top-extra-small {
  padding-top: var(--space-extra-small);
}
.p-top-small {
  padding-top: var(--space-small);
}
.p-top-medium {
  padding-top: var(--space-medium);
}
.p-top-large {
  padding-top: var(--space-large);
}
.p-top-extra-large {
  padding-top: var(--space-extra-large);
}
.p-top-mega {
  padding-top: var(--space-mega);
}

.p-right-miniscule {
  padding-right: var(--space-miniscule);
}
.p-right-extra-small {
  padding-right: var(--space-extra-small);
}
.p-right-small {
  padding-right: var(--space-small);
}
.p-right-medium {
  padding-right: var(--space-medium);
}
.p-right-large {
  padding-right: var(--space-large);
}
.p-right-extra-large {
  padding-right: var(--space-extra-large);
}
.p-right-mega {
  padding-right: var(--space-mega);
}

.p-bottom-miniscule {
  padding-bottom: var(--space-miniscule);
}
.p-bottom-extra-small {
  padding-bottom: var(--space-extra-small);
}
.p-bottom-small {
  padding-bottom: var(--space-small);
}
.p-bottom-medium {
  padding-bottom: var(--space-medium);
}
.p-bottom-large {
  padding-bottom: var(--space-large);
}
.p-bottom-extra-large {
  padding-bottom: var(--space-extra-large);
}
.p-bottom-mega {
  padding-bottom: var(--space-mega);
}

.p-left-miniscule {
  padding-left: var(--space-miniscule);
}
.p-left-extra-small {
  padding-left: var(--space-extra-small);
}
.p-left-small {
  padding-left: var(--space-small);
}
.p-left-medium {
  padding-left: var(--space-medium);
}
.p-left-large {
  padding-left: var(--space-large);
}
.p-left-extra-large {
  padding-left: var(--space-extra-large);
}
.p-left-mega {
  padding-left: var(--space-mega);
}


/* Gap */
.gap-miniscule {
  gap: var(--space-miniscule);
}
.gap-extra-small {
  gap: var(--space-extra-small);
}
.gap-small {
  gap: var(--space-small);
}
.gap-medium {
  gap: var(--space-medium);
}
.gap-large {
  gap: var(--space-large);
}
.gap-extra-large {
  gap: var(--space-extra-large);
}
.gap-mega {
  gap: var(--space-mega);
}

/* Radius */
.radius-base {
  border-radius: var(--radius-base);
}

/* Flow space */
.flow-miniscule {
  --flow-space: var(--space-miniscule);
}
.flow-extra-small {
  --flow-space: var(--space-extra-small);
}
.flow-small {
  --flow-space: var(--space-small);
}
.flow-medium {
  --flow-space: var(--space-medium);
}
.flow-large {
  --flow-space: var(--space-large);
}
.flow-extra-large {
  --flow-space: var(--space-extra-large);
}
.flow-mega {
  --flow-space: var(--space-mega);
}

/* Region space */
.region-miniscule {
  --region-space: var(--space-miniscule);
}
.region-extra-small {
  --region-space: var(--space-extra-small);
}
.region-small {
  --region-space: var(--space-small);
}
.region-medium {
  --region-space: var(--space-medium);
}
.region-large {
  --region-space: var(--space-large);
}
.region-extra-large {
  --region-space: var(--space-extra-large);
}
.region-mega {
  --region-space: var(--space-mega);
}


/* Icon sizes */
.icon-extra-small {
  width: var(--icon-extra-small);
}
.icon-small {
  width: var(--icon-small);
}
.icon-m {
  width: var(--icon-medium);
}
.icon-l {
  width: var(--icon-large);
}