/* Block */
@import url("block/global/animations.css");
@import url("block/global/link.css");
@import url("block/global/button.css");
@import url("block/global/nav.css");
@import url("block/global/logo.css");
@import url("block/global/media-container.css");
@import url("block/global/content-list.css");
@import url("block/global/highlight-syntax.css");
@import url("block/global/copyright.css");
@import url("block/global-landmark.css");
@import url("block/hero-spotlight.css");
@import url("block/courses-spotlight.css");
@import url("block/error.css");
@import url("block/code-block.css");
@import url("block/terminal.css");

/* Global */
@import url("global/fonts.css");
@import url("global/variables.css");
@import url("global/reset.css");
@import url("global/global-styles.css");

/* Composition */
@import url("composition/wrapper.css");
@import url("composition/cover.css");
@import url("composition/grid.css");
@import url("composition/switcher.css");
@import url("composition/repel.css");
@import url("composition/cluster.css");
@import url("composition/flow.css");

/* Utility */
@import url("utility/visually-hidden.css");
@import url("utility/skip-link.css");
@import url("utility/tokens.css");
@import url("utility/region.css");
@import url("utility/center.css");
@import url("utility/line-break.css");